# Homework 5: Group, Join, Conditionals, Iteration, Randomness. 
## Due Monday May 26th, 11:59pm

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

In [1]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from client.api.notebook import Notebook
ok = Notebook('hw05_solutions.ok')
#_ = ok.auth(inline=True)

=====================================================================
Assignment: Homework 5: Group, Join, Conditionals, Iteration, Randomness.
OK, version v1.13.11
=====================================================================

**Important**: The `ok` tests don't usually tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, you must do two things:

### a. Turn into OK
Select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [ ]:
_ = ok.submit()

### b. Turn PDF into Gradescope
Select File > Download As > PDF via LaTeX in the File menu. Turn in this PDF file into the respective assignement at https://gradescope.com/.
<br>
If you submit more than once before the deadline, we will only grade your final submission

## 1. Owners and Pets

![](corgi.png)

With midterm season upon us, many of you may want to destress by looking at photos of cute pets. We will be manipulating datasets that are created through the join function.

**Question 1.** The data is in a CSV file called `Pets.csv`. Read this file into a table `pets`.

In [2]:
pets = Table().read_table('Pets.csv')
pets

c:\users\joshu\appdata\local\programs\python\python36\lib\site-packages\datascience\tables.py:132: FutureWarning: read_table is deprecated, use read_csv instead.
  df = pandas.read_table(filepath_or_buffer, *args, **vargs)

PetID   | Name       | Kind   | Gender | Age  | OwnerID
J6-8562 | Blackie    | Dog    | male   | 11   | 5168
Q0-2001 | Roomba     | Cat    | male   | 9    | 5508
M0-2904 | Simba      | Cat    | male   | 1    | 3086
R3-7551 | Keller     | Parrot | female | 2    | 7908
P2-7342 | Cuddles    | Dog    | male   | 13   | 4378
X0-8765 | Vuitton    | Parrot | female | 11   | 7581
Z4-5652 | Priya      | Cat    | female | 7    | 7343
Z4-4045 | Simba      | Cat    | male   | 0    | 2700
M8-7852 | Cookie     | Cat    | female | 8    | 7606
J2-3320 | Heisenberg | Dog    | male   | 3    | 1319
... (90 rows omitted)

In [3]:
_ = ok.grade('q1_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** At the moment, there is no way for us to pair the individual pet with its owner. Fortunately, `Pets.csv` provided us with **OwnerID** which allows us to find the owner's name. You are given a new table in `new_owners.csv` that contains the columns **Unnamed: 0**, **OwnerID**, **Name**, **Surname**, **State**, **StateFull**, and **ZipCode**. Join this table with `Pets.csv` and assign your new table to `owners_pets`.

In [4]:
new_owners = Table.read_table('new_owners.csv')
owners_pets = pets.join('OwnerID', new_owners)
owners_pets#owners_pets.where('Age',10).where('Kind','Cat').column('ZipCode')[0]

OwnerID | PetID   | Name       | Kind | Gender | Age  | Unnamed: 0 | Name_2   | Surname   | State | StateFull | ZipCode
1070    | U8-6473 | Biscuit    | Dog  | female | 3    | 4          | Jessica  | Velazquez | MI    | Michigan  | 48034
1132    | T2-2142 | Stowe      | Cat  | female | 15   | 16         | Rosa     | Quarles   | MI    | Michigan  | 48034
1202    | N7-6805 | Enyo       | Cat  | female | 12   | 20         | Susan    | Jackson   | MI    | Michigan  | 48154
1306    | F2-3235 | Danger     | Dog  | male   | 8    | 64         | Benjamin | Spears    | MI    | Michigan  | 49612
1306    | L2-1834 | Collette   | Dog  | female | 4    | 64         | Benjamin | Spears    | MI    | Michigan  | 49612
1312    | L4-4205 | Rumba      | Cat  | male   | 5    | 56         | Charles  | Chidester | MI    | Michigan  | 49316
1319    | J2-3320 | Heisenberg | Dog  | male   | 3    | 47         | Joe      | Custer    | MI    | Michigan  | 48185
1334    | J0-7893 | Crockett   | Dog  | male   | 12   | 43         | Jason    | Cantwell  | MI    | Michigan  | 48075
1546    | U6-4890 | Blackie    | Dog  | male   | 6    | 88         | Joseph   | Blow      | MI    | Michigan  | 48075
1653    | P9-6519 | Cookie     | Cat  | female | 6    | 24         | Carolyn  | Crane     | MI    | Michigan  | 48933
... (90 rows omitted)

In [5]:
_ = ok.grade('q1_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3**. You might notice that there two name columns: **Name** and **Name_2**. This is because both `Pets.csv` and `new_owners.csv` have a name column, and the table wants to be able to differentiate between the two columns. This is a common problem with joins, and it is important to differentiate between the two. There is also an irrelevant column `Unnamed: 0` that doesn't provide any information. Edit `owners_pets` by renaming `Name_2` to `OwnerName`, and by dropping `Unnamed: 0` from `owners_pets`.

In [6]:
owners_pets = owners_pets.drop('Unnamed: 0').relabel('Name_2', 'OwnerName')
owners_pets

OwnerID | PetID   | Name       | Kind | Gender | Age  | OwnerName | Surname   | State | StateFull | ZipCode
1070    | U8-6473 | Biscuit    | Dog  | female | 3    | Jessica   | Velazquez | MI    | Michigan  | 48034
1132    | T2-2142 | Stowe      | Cat  | female | 15   | Rosa      | Quarles   | MI    | Michigan  | 48034
1202    | N7-6805 | Enyo       | Cat  | female | 12   | Susan     | Jackson   | MI    | Michigan  | 48154
1306    | F2-3235 | Danger     | Dog  | male   | 8    | Benjamin  | Spears    | MI    | Michigan  | 49612
1306    | L2-1834 | Collette   | Dog  | female | 4    | Benjamin  | Spears    | MI    | Michigan  | 49612
1312    | L4-4205 | Rumba      | Cat  | male   | 5    | Charles   | Chidester | MI    | Michigan  | 49316
1319    | J2-3320 | Heisenberg | Dog  | male   | 3    | Joe       | Custer    | MI    | Michigan  | 48185
1334    | J0-7893 | Crockett   | Dog  | male   | 12   | Jason     | Cantwell  | MI    | Michigan  | 48075
1546    | U6-4890 | Blackie    | Dog  | male   | 6    | Joseph    | Blow      | MI    | Michigan  | 48075
1653    | P9-6519 | Cookie     | Cat  | female | 6    | Carolyn   | Crane     | MI    | Michigan  | 48933
... (90 rows omitted)

In [7]:
_ = ok.grade('q1_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.** If you paid close attention, you might notice that several pets have the same owner. This is why `new_owners.csv` and `Pets.csv` have a different number of rows. What proportion of all owners have more than one pet? Save your answer to `multiple_owners`. 

*Note*: Your answer should be between 0 and 1.

In [8]:
owners_group = owners_pets.group('OwnerID')
multiple_owners_count = owners_group.where(owners_group.column('count') > 1).num_rows
multiple_owners = multiple_owners_count/new_owners.num_rows
multiple_owners

0.0898876404494382

In [9]:
_ = ok.grade('q1_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 5.** You may have noticed that there are several owners who own three pets. Find the first name of the owners (`OwnerName`) who own three pets, and save them in an array called `three_pet_owners`.

*Hint 1*: Looking at the different "where" [predicates](http://data8.org/datascience/predicates.html) may help you solve this question.

*Hint 2*: You may wish to use np.unique.

In [10]:
owners_three = owners_pets.group('OwnerID').sort('count', descending = True).take([0, 1, 2])['OwnerID']
three_pet_owners = np.unique(owners_pets.where('OwnerID', are.contained_in(owners_three)).column('OwnerName'))
three_pet_owners

array(['Charles', 'Lee', 'Stacey'],
      dtype='<U11')

In [11]:
_ = ok.grade('q1_5')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 2. Choosing A Pet

You really want to get a pet, but there are too many great animals to decide upon! Here are a number of factors that will go into your decision of what pet to get. 

1. Cuteness (1 = not cute at all, 10 = extremely cute)
2. Activity Level (1 = barely active, 10 = extremely active)
3. Cost (1 = Cheap, 10 = Expensive)

**Question 1**. Define a function called `choose_pet` that takes five arguments: `table`, `cuteness_score`, `lower_activity_level`, `upper_activity_level`,and `cost_score`. You function should return a list of pets that meet the following requirements.

1. If a pet's cuteness is greater than or equal to `cuteness_score`, return a list of those pets.
2. If your `cuteness_score` is not met, return a list of pets that have activity levels between `lower_activity_level` and `upper_activity_level` (inclusive).
3. If your cuteness and activity level requirements are not met, return a list of pets whose cost is less than or equal to `cost_score`.
4. If none of your requirements are met, return "There's no match."

In [12]:
choosing_pets = Table.read_table("choosingpets.csv")

# Define your function here:
def choose_pet(table, cuteness_score, lower_activity_level, upper_activity_level, cost_score):
    if table.where('Cuteness', are.above_or_equal_to(cuteness_score)).num_rows > 0:
        return list(table.where('Cuteness', are.above_or_equal_to(cuteness_score)).column(0))
    elif table.where('Activity Level', are.between_or_equal_to(lower_activity_level,upper_activity_level)).num_rows > 0:
        return list(table.where('Activity Level', are.between_or_equal_to(lower_activity_level,upper_activity_level)).column(0))
    elif table.where('Cost', are.below_or_equal_to(cost_score)).num_rows > 0:
        return list(table.where('Cost', are.below_or_equal_to(cost_score)).column(0))
    else:
        return "There's no match."

set(choose_pet(choosing_pets,8,3,7,10)) == set(['Turtle','Tarantula']) # should return ['Turtle','Tarantula']
#set(choose_pet(choosing_pets,9,4,6,3)) #== set(['Dog', 'Parrot', 'Rabbit', 'Squirrel', 'Turtle', 'Tarantula', 'Fish']) # should return  ['Dog', 'Parrot', 'Rabbit', 'Squirrel', 'Turtle', 'Tarantula', 'Fish']
set(choose_pet(choosing_pets,9,1,2,4)) == set(['Guinea Pig', 'Hamster', 'Tarantula', 'Scorpian']) # should return ['Guinea Pig', 'Hamster', 'Tarantula', 'Scorpian']
choose_pet(choosing_pets,10,1,1,1) # should return "There's no match."

"There's no match."

In [13]:
_ = ok.grade('q2_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 3. String Manipulation on Names

Unfortunately, an incident happened and UC San Diego's records of students, tutors, and professors were messed up. Knowing that you are a data scientist, UC San Diego asked you to help restore the records. In this problem, you will reconstruct each record that accurately indicates the first name, last name, and academic status of the indivdual. Use a `for` loop to combine a list of **first names**, a list of the **last names**, and a list of their **academic statuses** of the individual into a new list called `restored_records`.

When combining the three parts, you should: 
* Capitalize the first letter of the first and last names.
* Insert "is a" between the last name and academic stauts of the individual.
* Insert a period right after the academic status.
* Ensure that the words are properly spaced.

For example, given the list `["christopher", "justin"]`,  `["nolan", “eldridge”]`, and `["Student", "Professor"]`, you should create the list `['Christipher Nolan is a Student.', 'Justin Eldridge is a Professor.']`.

**Hint:** *Check out the string method [.title()](https://www.geeksforgeeks.org/title-in-python/)*

In [103]:
first_name = ['joshua', 'amanda', 'robert', 'janine', 'marina', 'aaron', 'steven']
last_name = ['shu', 'chan', 'twomey', 'tiefenbruck', 'langlois', 'fraenkel', 'white']
status = ['Tutor', 'Tutor', 'Professor', 'Professor', 'Professor', 'Professor', 'Student']

restored_records = []
for i in range(len(first_name)):
    combined = first_name[i].title() + " " + last_name[i].title() + " is a " + status[i] + "."
    restored_records.append(combined)
    
restored_records

['Joshua Shu is a Tutor.',
 'Amanda Chan is a Tutor.',
 'Robert Twomey is a Professor.',
 'Janine Tiefenbruck is a Professor.',
 'Marina Langlois is a Professor.',
 'Aaron Fraenkel is a Professor.',
 'Steven White is a Student.']

In [105]:
set(restored_records) == set(['Joshua Shu is a Tutor.','Amanda Chan is a Tutor.','Robert Twomey is a Professor.','Janine Tiefenbruck is a Professor.','Marina Langlois is a Professor.','Aaron Fraenkel is a Professor.','Steven White is a Student.'])

True

In [15]:
_ = ok.grade('q3_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 4.  Go for lottery (Do not plan a career on it!)

You went to the nearest supermarket(or the gas station if you prefer) and bought a powerball ticket. To play you select five different numbers from 1 to 69 for the white balls and select one number from 1 to 26 for the red Powerball. For the sake of simplicity, assume that you have to match the numbers **in the exact order** to win the jackpot. All questions in this part assumes the setting of a single draw unless stated otherwise.

**Question 1.** What is the probability that you win the jackpot? Assign your answer to `jackpot_chance`.

**Hint**: *Since you are choosing five different numbers for the white balls, the denominator should be decreasing. The probability of getting the first number correct is 1/69, the second is 1/68, and so on...*

In [9]:
#...jackpot_chance
jackpot_chance = (1/69) * (1/68) * (1/67) * (1/66) * (1/65) * (1/26)
jackpot_chance

2.85191484418642e-11

In [10]:
#: grade 4.1
_ = ok.grade('q4_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** Your chances of winning the jackpot is quite low, but you can still win money if you have at least one number correct. What is the probability that you get at least one number correct and win some money? Assign your answer to `non_losing_prob`.

In [11]:
#...non_losing_prob
non_losing_prob = 1 - (68/69) * (67/68) * (66/67) * (65/66) * (64/65) * (25/26)
non_losing_prob

0.10813823857302107

In [12]:
_ = ok.grade('q4_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.** Write a function called `simulate_one_ticket`. It should take **no arguments**, and it should return **an array** with 6 random numbers. The first five numbers are all between 1 and 69 and different from each other. The last number should be between 1 and 26.

In [4]:
# Place your answer here. It may contain several lines of code.

def simulate_one_ticket():
    """Simulate one ticket that you buy."""
    white_balls = np.random.choice(np.arange(1, 70), size=5, replace=True)
    balls = white_balls
    red_ball = np.random.choice(np.arange(1, 27))
    balls = np.append(balls, red_ball)
    return balls

simulate_one_ticket()

array([20, 38, 56, 32, 12, 10])

In [21]:
_ = ok.grade('q4_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.** It's draw day, and you checked the lucky numbers posted, which happened to be white(19, 50, 36, 53, 68), red(12). Suppose you didn't win the jackpot, and you are a bit depressed. You want to remind yourself how unlikely it is to win a jackpot. Call the function `simulate_one_ticket` 100000 times (at least $200000 if you were to buy that many!). How many times did you win the jackpot? Assign your answer to `count_jackpot`.

In [5]:
count_jackpot = 0
for _ in range(100_000):
    if (simulate_one_ticket()==[19, 50, 36, 53, 68, 12]).all():
        count_jackpot += 1
count_jackpot

0

In [23]:
_ = ok.grade('q4_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 5. Yahtzee

In the dice game Yahtzee, players roll and reroll dice, trying to meet certain objectives. A player rolls five dice on the first roll, and after looking at the results, *can choose to* reroll any number of them on the second roll. Similarly, after looking at the results of the second roll, the player can choose to reroll any number of those for the third roll. After the third roll, no more rolling is allowed.

One objective in Yahtzee is to roll as many 6's as possible. The standard strategy is as follows:
* Roll all five dice.
* Keep any that are 6's. Reroll all other dice.
* Keep any that are 6's. Reroll all other dice.
The number of 6's at the end of this process determined the player's score.

**Question 1.** Create an array called `my_dice` that contains the results of a first Yahtzee roll (that is, five random numbers between 1 and 6).

In [2]:
my_dice = np.random.choice(np.arange(1,7), 5)
my_dice

array([2, 6, 6, 2, 2])

In [3]:
_ = ok.grade('q5_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** Define a function called `reroll()` that takes one Yahtzee roll, `roll` as its input and returns the updated roll as its ouput. The function should not change the contents of `roll`, but, rather, should output an updated copy of `roll` after one additional turn. Your function should implement the standard strategy for rolling 6's, that is, keep all dice that were a 6 and reroll all other dice.

**Hint** *You can test out your function by repeatedly rerolling. Since you are keeping all the 6's you ever roll, eventually you should get all 6's by repeatedly rerolling.*

In [4]:
def reroll(roll):
    updated_dice = np.arange(5)
    for i in np.arange(5):
        if roll[i] != 6:
            updated_dice[i] = np.random.choice(np.arange(1,7), 1)
        else:
            updated_dice[i] = 6
    return updated_dice

Now, practice taking a complete turn at Yahtzee, and see how many 6's you can get! Re-run the code cell from question 5.1 to roll new dice. Then use your `reroll()` function twice, and calculate the number of 6's you have at the end of your turn.

In [5]:
# Practice taking a turn here. How many 6's did you get?
second_roll = reroll(my_dice)
third_roll = reroll(second_roll)
third_roll

array([1, 6, 6, 6, 4])

Now we will alter the rules of Yahtzee so that we are no longer restricted by only 3 rerolls.

**Question 3.** Now, use a for loop to help you take 20,000 turns at Yahtzee. On each turn, you should roll the dice, then reroll as many times as many turns until all five dice are 6. (A `while` loop will be useful here) When all five dices are 6, count the number of times you have rerolled. Record the number of rerolls into an array called `reroll_array` that contains the number of rerolls it took to get five dices with 6. 

**Note:** Your initial roll of the dice will **NOT** count as a reroll. i.e. If your initial roll of the dice were somehow all 6s, then you have rerolled 0 times.

**Hint:** Try taking 10 turns with a `for` loop. Once you are sure you have that figured out, change it to 20,000 turns. It will take a little while (about a minute) for Python to perform the calculations when you are doing 20,000 turns.

In [85]:
reroll_array = make_array()

for _ in range(20000):
    my_dice = np.random.choice(np.arange(1,7), 5)
    counter = 0
    while np.count_nonzero(my_dice == 6) != 5:
        my_dice = reroll(my_dice)
        counter += 1
    reroll_array = np.append(counter, reroll_array)

np.mean(reroll_array)

# A simulation of 200000 trials was 12.0067

11.9108

In [ ]:
_ = ok.grade('q5_3')

**Question 4.** Use the data you have collected to approximate the number rerolls you would expect to take to get five 6s. Store your result in a variable called `expected_rerolls.` 

Note that this does not need to be a whole number.

In [89]:
expected_rerolls = np.mean(reroll_array)
expected_rerolls

11.9108

In [30]:
_ = ok.grade('q5_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 5.** Use the data you have collected to approximate the most common number of rerolls it takes to get all five dices to be 6. Store your result in a variable called `most_common_reroll` that is an integer.

In [101]:
helper = Table().with_column('reroll', reroll_array).group('reroll')
most_common_reroll = int(helper.sort('count', descending = True).column('reroll')[0])
most_common_reroll

8

In [ ]:
_ = ok.grade('q5_5')


To submit:

1. Select `Run All` from the `Cell` menu to ensure that you have executed all cells, including the test cells.
3. Read through the notebook to make sure everything is fine.
4. Submit using the cell below.
5. Save PDF and submit to gradescope

In [34]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir('tests') if q.startswith('q')]

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

In [ ]:
_ = ok.submit()

## Don't forget to submit to both OK and Gradescope!