## Tables

In [ ]:
from datascience import *
import numpy as np

In [ ]:
data = Table.read_table('actors.csv')
data

In [ ]:
# get column as array of values
data.column('Gross')

In [ ]:
# .item() can be used on arrays
data.column('Gross').item(5)

In [ ]:
# get column(s) as new table
data.select('Gross')

In [ ]:
data.select('Gross', 'Total Gross') # notice order of columns

In [ ]:
# Adding a column
# example: Average gross
data.with_column('Difference from Avg Gross', data.column('Gross') - data.column('Average per Movie'))

In [ ]:
# Did any of these function calls change the original actor_data table?

In [ ]:
# What would we need to do if we wanted to change the actor_data table or store any changes we made?

In [ ]:
# What if we wanted to remove the added column?

In [ ]:
# Now try adding a column called 'Domestic Gross %'
# that calculates what percent of the 'Total Gross'
# is from the 'Gross'

In [ ]:
# Sorting
data.sort(0)

In [ ]:
# How would we get the name of the movie with the highest 'Gross' in the table?

In [ ]:
# How would we get the name of the actor with the highest 'Total Gross' in the table?

In [ ]:
# Rows
# take() - returns table with specified row indexes
data.take(19)

In [ ]:
# multiple rows
data.take([0, 1, 2, 3, 4])

In [ ]:
# can add rows using with_row function
# provide values as ___ (what data type?)
data.with_row(['New Actor', 500, 20, 25, 'New Movie', 5]).show()

In [ ]:
# Predicates
# rows where the values in 'Number of Movies' are above 50
data.where('Number of Movies', are.above(50))

In [ ]:
# How would I get the rows where '#1 Movie' contains 'Avengers'

In [ ]:
# Of the Actors whose '#1 Movie' contains 'Avengers',
# who has made the most Number of Movies?

## Visualizing Data

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
# Scatters are better for showing relationship between two numerical values
data.scatter('Number of Movies', 'Total Gross')

In [ ]:
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
nba.scatter('POSITION', "'15-'16 SALARY")
# What type of graph would be for showing a relationship between these columns?

In [ ]:
# A bar graph can show categorical distributions
# What are the categories in this case?
# How can we create a bar graph showing the average salary of each position?

In [ ]:
# First, let's create a column called "Position Average Salary"

In [ ]:
# Now, we can graph these using barh

In [ ]:
# Histograms show distribution of bins
# If we want to choose bins for "'15-'16 SALARY" we need to know min and max
print(min(nba.column("'15-'16 SALARY")))
print(max(nba.column("'15-'16 SALARY")))

In [ ]:
salary_bins = np.arange(0, 26, 5)
nba.bin("'15-'16 SALARY", bins=salary_bins)

In [ ]:
# Create histogram
nba.hist("'15-'16 SALARY", bins=salary_bins, unit='millions of $', normed=False)

## Functions

In [ ]:
# Here's a very simple function that takes two values and returns their sum
def my_sum_func(a, b):
    return a + b

In [ ]:
my_sum_func(12, 4)

In [ ]:
# let's write a function that takes a string, s, and returns the first word in the string
def get_first_word(s):

In [ ]:
# now let's apply this function to the nba table and add
# a new column that contains the first name of each player